<header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="vehicule.html">Vehicule</a></li>
            <li><a href="borne.html">Borne</a></li>
            <li><a href="station.html">Stations</a></li>
            <li><a href="localiser.html">Localiser</a></li>
            <li><a href="Stat.html">Stats</a></li>
            <li><a href="login.html">Connexion</a></li>
            <li><a href="register.html">Inscription</a></li>
        </ul>
    </nav>
</header>
