@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Importing Google Fonts */

/*************************************************/
/* Body  */
/*************************************************/


body {
    font-family: 'Roboto', Arial, sans-serif; 
    background-color: #121212;
    color: #ffffff;
}


/*************************************************/
/* Navigation  */
/*************************************************/

nav {
    font-family: 'Roboto', Arial, sans-serif; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #ffffffdb;
    text-decoration: none;
    padding: 5px 10px; 
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 1px;
}


/*************************************************/
/* footer header  */
/*************************************************/

footer {
    background-color: #111111;
    color: #ffffff68;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

header {
    background-color: #151414a3;
    padding: 0px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #ffffff;
}


/*************************************************/
/* main page  */
/*************************************************/

.page {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif; 
    background-color: #000;
    color: #ffffffd5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.pageAsRow{
    padding-top: 50px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}


/*************************************************/
/* Form  */
/*************************************************/





.login-container {
    background-color: #fff;
    color: #333;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.besoinCompte {
    margin-top: 10px;
    font-size:small;
    font-family: 'Roboto', Arial, sans-serif; 

}

.login-container h2 p {
    margin-bottom: 20px;
    color: #333;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #555;
}


.error {
    font-size: small;
    color: #fff;
    background: #D0342C;
    padding: 5px;
    border-radius: 2px;
  }

.error-log{
    font-size: small;
    color: #fff;
    background: #D0342C;
    padding: 5px;
    border-radius: 2px;
}

.success-log{
    font-size: small;
    color: #fff;
    background: #2f9a23;
    padding: 5px;
    border-radius: 2px;
}




.choix-liste {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}



/*************************************************/
/* table  */
/*************************************************/



table {
    border-collapse: collapse;
    background-color: #2a3338;
    width: 60%;
    border-top: none;
    border-left: none;
    border-right: none;
  }




th{
    font-weight: bold;
    font-size: medium;
}

tr{
    border-bottom: 1px solid #ffffff4c;
    font-size: small;
}
  
th, td {
    border: none;
    text-align: left;
    padding: 8px;
    text-align: center;
    align-items : center;
}

tr:nth-child(even) {
    background-color: #3d4449;
}


